<h1> Projects </h1>
<p> Welcome, <%= current_user.firstname %> <%= current_user.lastname%>

<% current_user.projects.each do |project| %>
  <h2> <a href="/projects/<%=project.id%>"><%= project.title%></a></h2>
  <h3> <%= project.module%></h3>
  <div>
    <%= project.description %>
    <br>
    <p> <%=project.github%> </p>
  </div>
  <br><br><br>
<% end %>